<ion-list class="accordion-list">
  <ion-list-header no-lines no-padding>
    <button ion-item
            (click)="toggleAccordion()"
            class="accordion-header"
            [class.active]="expanded">
        <ion-icon
          item-left
          name="md-arrow-dropright">
        </ion-icon>
        <h3>{{title}}</h3>
    </button>
    <section #accordionContent
             [style.background]="contentColor"
             [class.active]="expanded"
             class="accordion-content">
      <ng-content></ng-content>
    </section>
  </ion-list-header>
</ion-list>