accordion-list {
    background-color: #fff; color:#fff;

    after {display: none;}
    .nomargin {
        margin: 0 !important;
    }

    .accordion-header {
      background-color: #fff; color:#fff;
      h3, ion-list, section, ng-content{
        color: #22839c;
        background-color: #fff;
      }
        .item-inner {
            margin-left: 0 !important;
        }

        ion-icon {
            transition: all .25s ease-in;
            transform: rotate(0);
            color: #22839c;
            background-color: #fff;
        }
    }

    ion-list-header {
        margin-bottom: 0 !important;
        padding: 0 !important;
    }

    .active ion-icon {
        transform: rotate(90deg);
    }

    .accordion-content {
        background-color: #fff; color:#fff;      
        transition: 0.3s ease-in-out;
        &.active {
            padding-top: .75rem;
        }
    }

    .label {
        margin: 0px;
    }
}