<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Estabelecimento Selecionado
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="heart-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content class="estabelecimento-selecionado">
  <img src="assets/img/inrQZqSMQcammzWtwTJF_12792336_477424362440737_5458764894280999168_o.png" style="display:block;width:100%;height:auto;margin-left:auto;margin-right:auto;" />

<accordion-list title="Hamburguer" textColor="#22839c" hasMargin="false" headerColor="#22839c">
    <ion-list no-icon class="itens-cardapio">
    <button detail-none ion-item color="none" text-wrap on-click="goToLanche()">
      <h2 class="titulo-produto">
        Hamburguer com nome muito grande para quebrar a linha
      </h2>
      <p>
        Descrição muito grande para quebrar a linha e ver o que va
      </p>
      <div item-end>
        <p class="preco-produto">R$10,00</p>
      </div>
    </button>
    <button detail-none ion-item color="none" text-wrap on-click="goToLanche()">
      <h2 class="titulo-produto">
        Hamburguer com nome muito grande para quebrar a linha
      </h2>
      <p>
        Descrição muito grande para quebrar a linha e ver o que va
      </p>
      <div item-end>
        <p class="preco-produto">R$10,00</p>
      </div>
    </button>
  </ion-list>
</accordion-list>


</ion-content>
<ion-footer>
    <button ion-button color="primary" class="botao-footer" full on-click="goToMeuPedido()">
      Ver Pedido (R$30,50)
    </button>
</ion-footer>
