page-estabelecimento-selecionado {
   ion-item-divider {margin-top: -1px !important;}
   ion-item-divider ion-label {color: map-get($colors, primary) !important; font-weight: bold}
   ion-item-divider[sticky] {top: -1px;}
   .botao-footer {height: 50px; text-transform: uppercase; font-size: 14px;}
   .button {margin: 0 !important;}
   .accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.itens-cardapio ion-thumbnail {
  min-width: 50px !important;
  min-height: 50px !important;
}
.itens-cardapio .item-md ion-thumbnail img {
  width: 50px !important;
  height: 50px !important;
}

.item-falta {text-decoration: line-through; opacity: 0.5; background-color:#f4f4f4;}
}
